# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Notebooks
.ipynb_checkpoints
transformers/*/

# Data
data/
datasets/
*.csv
*.tsv
*.xlsx
*.zip
transformers/results/
transformers/logs/
transformers/ner-bert/
# Models
models/
*.h5
*.pt
*.pth
*.keras
*.ckpt

# Environments
.venv/
env/
venv/
*.egg-info/